<!DOCTYPE html>
<html>
<head>

	<title>Blog Post</title>
	<style type="text/css">
        .label {text-align: right}
        .error {color: red}
    </style>
</head>

<body>
	<a href="/blog" class="main-title">
		Blog Post
	</a>

	<div class="login-area">
    	{% if user %}
        	{{user.name}} (<a class="login-link" href="/logout">logout</a>)
    	{% else %}
        	<a class="login-link" href="/login">login</a>
         
        	<a class="login-link" href="/signup">signup</a>
    	{% endif %}
  	</div>

	<div id="content">
  	    {% block content %}
  	    {% endblock %}
  	</div>
</body>
			
</html>