<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dan's Blog</title>
</head>

<body>

	<div>
		<h2> Where in the world are you going? </h2>

		<h4>Is there something I can help you find?</h4>
			<a class="btn btn" href="/blog">Main Page?</a>

			<br><br>

			<a class="btn btn" href="/blog/newpost">New Post?</a>

			<br>
		<h3>Or something completely different?</h3>
			<a class="btn btn" href="https://www.google.com/">Mystery Search</a>

	</div>
</body>
</html>

